<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Palīdzība</title>
</head>
<body>
    <div class="container">
        <div>
            <h1 style="text-align:left;float:left;">Palīdzība</h1>
            <h2 style="text-align:right;float:right; padding-top: 10px;"><a href="/">Sākums</a></h2>
        </div>
        <hr style="clear:both;"/>
        <div class="row">
            <div><h4>
                <ul>
                    <li class="paddingtop">Ja jums vēl nav konta, noklikšķiniet uz "Reģistrēties" un aizpildiet nepieciešamos laukus, lai izveidotu savu kontu. </li>
                    <li class="paddingtop">Ja jums jau ir konts, noklikšķiniet uz "Pieslēgties", lai pieslēgtos sistēmā.</li>
                    <li class="paddingtop">Pēc tam, kad esat pieslēdzies savam kontam, jūs varat pievienot jaunu automašīnu, noklikšķinot uz pogas "Pievienot automašīnu". Aizpildiet visus nepieciešamos laukus, un, ja nepieciešams, augšupielādējiet attēlu.</li>
                    <li class="paddingtop">Ja jums ir nepieciešams rediģēt esošo automašīnas informāciju, sarakstā noklikšķiniet "Rediģēt" pie attiecīgas mašīnas, kuru jūs vēlaties rediģēt.</li>
                    <li class="paddingtop">Ja vēlaties apskatīties automašīnas aprakstu, tad sarakstā noklikšķiniet uz “Apraksts” pie attiecīgās mašīnas, kuru jūs vēlaties apskatīt.</li>
                    <li class="paddingtop">Kad esat pabeidzis, neaizmirstiet iziet no sava profila, noklikšķinot uz "Iziet" labajā augšējā stūrī.</li>
                </ul>
			</h4></div>
            </div>
        </div>
</body>
</html>