<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles2.css">
    <title>Mašīnu datubāzes menedžeris</title>
</head>
<body>
    <div class="container">
        <div>
            <h1 style="text-align:left;float:left;">Mašīnu datubāzes menedžeris.</h1>
            <h2 style="text-align:right;float:right; padding-top: 10px;"><a href="/users/login">Pieslēgties</a></h2>
        </div>
        <hr style="clear:both;"/>
        <div class="row">
            <div><h4>Tas sniedz iespēju izveidot drošu un efektīvu lietotāju reģistrācijas un autentifikācijas sistēmu, kā arī nodrošina iespēju pievienot un pārvaldīt informāciju par klientu automašīnām.</h4></div>
            <div><h4>Paroles tiek kriptēta pirms saglabāšanas datubāzē, nodrošinot lietotāju datu drošību.
                Sesiju pārvaldība nodrošina drošu lietotāju autentifikāciju, saglabājot sesijas informāciju un ļaujot lietotājiem palikt pieslēgtiem pēc viņu autentifikācijas.
                Tiek nodrošināta elastīga un droša autentifikācijas sistēma, kas ļauj lietotājiem reģistrēties un pieteikties, izmantojot lokālu autentifikāciju.</h4></div>
            </div>
        </div>
</body>
</html>