<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Transportlīdzekļu uzskaites sistēma</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1 style="text-align:center;float:center; padding-top: 10px;">Transportlīdzekļu uzskaites sistēma.</h1>
            <div style="padding-left: 20px; padding-top: 15px; padding-right: 20px; font-size: 30px;">
            <a href="/users/login">Pieslēgties</a>
            <a href="/users/register">Reģistrēties</a>
            <a href="/help">Palīdzība</a>
            </div>
        </div>
        <div class="container">
        </div>
            <hr style="clear:both;"/>
            <div class="row">
                <div><h4>Mūsdienās cilvēkiem mēdz būt vairāk nekā viens transportlīdzeklis. Saistība ar to cilvēki spēj aizmirst ļoti svarīgu informāciju par saviem transportlīdzekļiem, kā transportlīdzekļa tehnisko apskati vai arī tā nobraukumu, kurš veikts, kad tika mainīta eļļa vai zob siksnā.
                         Lai atvieglotu vairāku transportlīdzekļu uzturēšanas procesu, es izdomāju izveidot transportlīdzekļu uzskaites sistēmu, ar kura palīdzību ir daudz vieglāk apskatīties un piefiksēt informāciju par lietotāja transportlīdzekļiem.</h4></div>
                </div>
            </div>
        </div>
</body>
</html>